::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background: #333;
	border: skinny plain lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background: #777;
	border: skinny plain gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #888;
}

body,
html {
  height: 100%;
  background-color: #222;
  color: white;
}

#main {
  height: 100%;
}

.vega-real {
  display: flex;
  height: 100%;
}

.viewer {
  flex: 1;
  background-color: #555;
  overflow: auto;
}

.schema-picker {
  width: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.schema-picker__examples {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.schema-picker__example {
  padding: 5px 10px;
  cursor: pointer;
}

.schema-picker__example:hover {
  background-color: #555;
}

.schema-picker__top {
  display: flex;
}

.schema-picker__back {
  display: block;
  flex: 1;
  width: 100%;
  border: none;
  background-color: #666;
  color: #ccc;
  font-weight: bold;
}

.schema-picker__back:hover {
  background-color: #555;
}

.schema-picker__schema {
  flex: 1;
  overflow-y: auto;
}

.float,
.object,
.multi,
.int,
.string {
  position: relative;
}

.float__title,
.string__title,
.int__title {
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
  margin-top: 3px;
  text-transform: lowercase;
  z-index: 5;
  color: #444;
  pointer-events: none;
}

.multi__top {
  display: flex;
  background-color: #555;
  padding: 0;
  margin-top: 3px;
  cursor: pointer;
}

.multi__title {
  color: #ddd;
  position: static;
  flex: 1;
  padding: 2px 8px;
}


.float__input,
.string__input,
.int__input {
  width: 100%;
  border: 0;
  margin-top: 2px;
  background-color: #ccc;
  padding: 2px 4px;
}

.int--invalid .int__input {
  outline-color: red;
  border-color: red;
}

.multi__options {
  list-style: none;
  padding: 0;
  margin: 2px 0 0;
  padding: 0;
}

.multi__option {
  display: inline-block;
  cursor: pointer;
  max-width: 100px;
  margin-right: 3px;
  overflow: initial;
  padding: 0px 4px;
  background-color: #555;
}

.multi__option--selected {
  background-color: #888;
}

.object__title {
  background-color: #444;
  display: block;
  padding: 2px 4px;
  margin: 3px 0 0;
  cursor: pointer;
}

.object__children,
.multi__body {
  padding-left: 20px;
}

.object__collapser:before,
.multi__collapser:before {
  content: '<';
  position: absolute;
  left: -20px;
  cursor: pointer;
  display: block;
}

.object--no-title > .object__children {
  padding-left: 0;
}

.object--collapsed .object__children,
.multi--collapsed .multi__body {
  display: none;
}

.array__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.array__add {
  background-color: #999;
  padding: 2px 8px;
  margin-top: 3px;
  color: #333;
  cursor: pointer;
}